doctype

html
	head
		title Hello World
		script(src="external/jquery/dist/jquery.js")
		script(src="external/react/react.js")
		script(src="/main.js")
		link(href="/main.css" rel="stylesheet")

	body#content !{ content }
